{
    "openapi": "3.0.0",
    "info": {
        "license": {
            "name": "GNU Affero General Public License v3.0",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "title": "RSS3 PreGod API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "description": "PreGod API Endpoint",
            "url": "https://pregod.rss3.dev/v1.0.0/"
        }
    ],
    "tags": [
        {
            "name": "Note"
        }
    ],
    "paths": {
        "/notes/{instance}": {
            "get": {
                "description": "Returns a list of Notes.",
                "operationId": "getNotesByInstance",
                "parameters": [
                    {
                        "description": "The address of the instance",
                        "example": "0x000000A52a03835517E9d193B3c27626e1Bc96b1",
                        "in": "path",
                        "name": "instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The cursor used for paging.",
                        "in": "query",
                        "name": "cursor",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit the number of Notes returned by the server.",
                        "example": 10,
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "default": 1000,
                            "maximum": 1000,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Filter notes by tags.",
                        "example": "Transaction",
                        "in": "query",
                        "name": "tag",
                        "required": false,
                        "schema": {
                            "items": {
                                "$ref": "#/components/schemas/Tags"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filter notes by type. Based on the `tag`, the available types are different, see [the table](/docs/product/PreGod/introduction#list-of-tags-and-corresponding-types).",
                        "example": "Transfer",
                        "in": "query",
                        "name": "type",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Types"
                        }
                    },
                    {
                        "description": "Filter notes by networks. Based on the `network`, the available `tags` are different, see [the table](/docs/product/PreGod/introduction#list-of-network).",
                        "example": "crossbell",
                        "in": "query",
                        "name": "network",
                        "required": false,
                        "schema": {
                            "items": {
                                "$ref": "#/components/schemas/Networks"
                            },
                            "type": "array"
                        }
                    },
                    {
                        "description": "Filter notes by platforms.",
                        "example": "crossbell",
                        "in": "query",
                        "name": "platform",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Platforms"
                        }
                    },
                    {
                        "description": "Filter notes by timestamp. Conform to the RFC3339 Datetime format.",
                        "example": "2022-06-10T19:07:35Z",
                        "in": "query",
                        "name": "timestamp",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetResponse"
                                }
                            }
                        },
                        "description": "A valid request."
                    }
                },
                "summary": "Get Notes of an instance",
                "tags": ["Note"]
            }
        }
    },
    "components": {
        "schemas": {
            "Note": {
                "description": "A Note representing actions generated by the instance.",
                "properties": {
                    "timestamp": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "hash": {
                        "description": "The identifier of the transaction. A unique identifier will be returned when a transaction hash is not available",
                        "example": "0x590390e5e48b9717b4141cfa7aef1e1f0922893860743498d8f96580dd822c5b",
                        "type": "string"
                    },
                    "index": {
                        "description": "The on-chain log index.",
                        "type": "number"
                    },
                    "address_from": {
                        "description": "The transaction initiator.",
                        "type": "string"
                    },
                    "address_to": {
                        "description": "The transaction recipient.",
                        "type": "string"
                    },
                    "network": {
                        "$ref": "#/components/schemas/Networks"
                    },
                    "platform": {
                        "description": "The platform that generated the action. There are many platforms supported by PreGod, see [the full list](/docs/product/PreGod/introduction#list-of-platforms).",
                        "$ref": "#/components/schemas/Platforms"
                    },
                    "tag": {
                        "description": "The tag describing the note based on its internal actions.",
                        "$ref": "#/components/schemas/Tags"
                    },
                    "actions": {
                        "description": "An array of actions generated by the transaction.",
                        "items": {
                            "$ref": "#/components/schemas/Action"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Action": {
                "properties": {
                    "tag": {
                        "$ref": "#/components/schemas/Tags"
                    },
                    "type": {
                        "$ref": "#/components/schemas/Types"
                    },
                    "index": {
                        "description": "The on-chain log index.",
                        "type": "number"
                    },
                    "address_from": {
                        "description": "The transaction initiator.",
                        "type": "string"
                    },
                    "address_to": {
                        "description": "The transaction recipient.",
                        "type": "string"
                    },
                    "metadata": {
                        "description": "The metadata format varies from different combinations of filtering conditions.",
                        "type": "object"
                    },
                    "platform": {
                        "description": "The platform that generated the action.",
                        "$ref": "#/components/schemas/Platforms"
                    },
                    "related_urls": {
                        "description": "The urls related to the action.",
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Date": {
                "description": "Conform to the RFC3339 Datetime format.",
                "example": "2022-03-17T23:23:35.00Z",
                "format": "date-time",
                "type": "string"
            },
            "Networks": {
                "description": "The network where the transaction took place. Based on the `network`, the available `tags` are different, see [the table](/docs/product/PreGod/introduction#list-of-network).",
                "enum": [
                    "ethereum",
                    "ethereum_classic",
                    "binance_smart_chain",
                    "polygon",
                    "zksync",
                    "xdai",
                    "arweave",
                    "arbitrum",
                    "optimism",
                    "fantom",
                    "avalanche",
                    "crossbell"
                ],
                "type": "string"
            },
            "Platforms": {
                "description": "There are many platforms supported by PreGod, see [the full list](/docs/product/PreGod/introduction#list-of-platforms). When `platform` is unknown, the transaction's `network` is used.",
                "enum": [
                    "mirror",
                    "lens",
                    "gitcoin",
                    "snapshot",
                    "uniswap",
                    "binance",
                    "crossbell"
                ],
                "type": "string"
            },
            "Tags": {
                "description": "The tag describing the note or the action.",
                "enum": [
                    "transaction",
                    "exchange",
                    "collectible",
                    "social",
                    "donation",
                    "governance"
                ],
                "type": "string"
            },
            "Types": {
                "description": "Filter notes by type. Based on the `tag`, the available types are different, see [the table](/docs/product/PreGod/introduction#list-of-tags-and-corresponding-types).",
                "enum": [
                    "mint",
                    "transfer",
                    "burn",
                    "cancel",
                    "withdraw",
                    "deposit",
                    "swap",
                    "trade",
                    "mint",
                    "burn",
                    "POAP",
                    "post",
                    "comment",
                    "share",
                    "profile",
                    "follow",
                    "unfollow",
                    "like",
                    "propose",
                    "vote",
                    "launch",
                    "donate"
                ],
                "type": "string"
            },
            "GetResponse": {
                "properties": {
                    "total": {
                        "description": "The total number of Notes indexed for the instance.",
                        "example": 123,
                        "type": "number"
                    },
                    "cursor": {
                        "description": "The cursor of the current request.",
                        "example": "0xbe1488fc2570f687cbaca8ecec0770586258146caa5791e517e659d813cf5e0a",
                        "type": "string"
                    },
                    "result": {
                        "description": "The requested Notes.",
                        "items": {
                            "$ref": "#/components/schemas/Note"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        }
    }
}
