{
    "openapi": "3.0.0",
    "info": {
        "license": {
            "name": "GNU Affero General Public License v3.0",
            "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
        },
        "title": "RSS3 PreGod API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "description": "PreGod API Endpoint",
            "url": "https://pregod.rss3.dev/v0.4.0"
        }
    ],
    "tags": [
        {
            "name": "Note"
        }
    ],
    "paths": {
        "/notes/{instance}": {
            "get": {
                "description": "Returns a list of Notes.",
                "operationId": "getNotesByInstance",
                "parameters": [
                    {
                        "description": "The address of the instance",
                        "example": "0x000000A52a03835517E9d193B3c27626e1Bc96b1",
                        "in": "path",
                        "name": "instance",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The cursor used for paging.",
                        "in": "query",
                        "name": "cursor",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit the number of Notes returned by the server.",
                        "example": 10,
                        "in": "query",
                        "name": "limit",
                        "required": false,
                        "schema": {
                            "default": 1000,
                            "maximum": 1000,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Filter notes by tag.",
                        "example": "Transaction",
                        "in": "query",
                        "name": "tag",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Tags"
                        }
                    },
                    {
                        "description": "Filter notes by type. Based on the `tag`, the available types are different: \r\n - `Transaction`: [`Transfer`, `Mint`, `Burn`]\r\n  - `Exchange`: [`Transfer`, `Withdraw`, `Deposit`, `Swap`] \r\n  - `Collectible`: [`Mint`, `Burn`,`Poap`] \r\n  - `Social`: [`Post`, `Comment`, `Share`, `Profile`, `Follow`, `Unfollow`, `Like`] \r\n - `Vote`: [`Propose`, `Vote`] \r\n - `Donation`: [`Donate`]",
                        "example": "Transfer",
                        "in": "query",
                        "name": "type",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Types"
                        }
                    },
                    {
                        "description": "Filter notes by network.",
                        "example": "crossbell",
                        "in": "query",
                        "name": "network",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Networks"
                        }
                    },
                    {
                        "description": "Filter notes by platform.",
                        "example": "crossbell",
                        "in": "query",
                        "name": "platform",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Filter notes by timestamp.",
                        "example": "2022-06-10T19:07:35Z",
                        "in": "query",
                        "name": "timestamp",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/Date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetResponse"
                                }
                            }
                        },
                        "description": "A valid request."
                    }
                },
                "summary": "Get Notes of an instance",
                "tags": ["Note"]
            }
        }
    },
    "components": {
        "schemas": {
            "Note": {
                "description": "A Note representing actions generated by the instance.",
                "properties": {
                    "hash": {
                        "description": "The identifier of the transaction. A unique identifier will be returned when a transaction hash is not available",
                        "example": "0x590390e5e48b9717b4141cfa7aef1e1f0922893860743498d8f96580dd822c5b",
                        "type": "string"
                    },
                    "timestamp": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "network": {
                        "$ref": "#/components/schemas/Networks"
                    },
                    "actions": {
                        "description": "An array of actions generated by the transaction.",
                        "items": {
                            "$ref": "#/components/schemas/Action"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Action": {
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/Types"
                    },
                    "tag": {
                        "$ref": "#/components/schemas/Tags"
                    },
                    "index": {
                        "description": "The on-chain log index.",
                        "type": "number"
                    },
                    "address_from": {
                        "description": "The transaction initiator.",
                        "type": "string"
                    },
                    "address_to": {
                        "description": "The transaction recipient.",
                        "type": "string"
                    },
                    "metadata": {
                        "description": "The metadata format varies from different combinations of filtering conditions.",
                        "type": "object"
                    },
                    "platform": {
                        "description": "The platform that generated the action.",
                        "$ref": "#/components/schemas/Platforms"
                    },
                    "related_urls": {
                        "description": "The related urls to the action.",
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Date": {
                "description": "Conform to the RFC3339 Datetime format.",
                "example": "2022-03-17T23:23:35.00Z",
                "format": "date-time",
                "type": "string"
            },
            "Networks": {
                "enum": [
                    "ethereum",
                    "ethereum_classic",
                    "binance_smart_chain",
                    "polygon",
                    "zksync",
                    "xdai",
                    "arweave",
                    "arbitrum",
                    "optimism",
                    "fantom",
                    "avalanche",
                    "crossbell"
                ],
                "type": "string"
            },
            "Platforms": {
                "enum": ["crossbell"],
                "type": "string"
            },
            "Tags": {
                "enum": [
                    "Transaction",
                    "Exchange",
                    "Collectible",
                    "Social",
                    "Donation",
                    "Governance"
                ],
                "type": "string"
            },
            "Types": {
                "enum": [
                    "Mint",
                    "Transfer",
                    "Burn",
                    "Transfer",
                    "Withdraw",
                    "Deposit",
                    "Swap",
                    "Transfer",
                    "Mint",
                    "Burn",
                    "POAP",
                    "Post",
                    "Comment",
                    "Share",
                    "Profile",
                    "Follow",
                    "Unfollow",
                    "Like",
                    "Propose",
                    "Vote",
                    "Donate"
                ],
                "type": "string"
            },
            "GetResponse": {
                "properties": {
                    "total": {
                        "description": "The total number of Notes indexed for the instance.",
                        "example": 123,
                        "type": "number"
                    },
                    "cursor": {
                        "description": "The cursor of the current request.",
                        "example": "0xbe1488fc2570f687cbaca8ecec0770586258146caa5791e517e659d813cf5e0a",
                        "type": "string"
                    },
                    "result": {
                        "description": "The requested Notes.",
                        "items": {
                            "$ref": "#/components/schemas/Note"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        }
    }
}
